{% load static %}
<!DOCTYPE html>
<html id="html" lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#100b40">

    <title>World Cup Simulator </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="../static/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
    <body class="backdrop-loaded">

        <div class="backdrop-container">
            <div id="backdrop" class="backdrop-wrapper  -loaded" >
                <div class="backdropimage" style="background-position: center -145px; background-image: url('../static/fifawwc2023short.jpg')">
                </div>
                <div class="backdropmask">
                </div>
            </div>
        </div>

        <div id="content" class="site-body">
            <header id="header" class="site-header">
                <section>
                    <h1 class="site-title">FIFA Women's World Cup Simulator</h1>
                </section>
            </header>
            <nav class="nav">
                <div class="form-wrap" id="form-wrap">
                    <form class="nav-toggle form" id="js-nav-toggle">
                        <div><input class="toggle-radio js-nav-toggle-input" id="toggle-default" type="radio" name="nav-toggle" data-view="default">
                            <label class="toggle-label" for="toggle-default">
                                <span class="toggle-label-text">Standings </span>
                            </label>
                        </div>
                        <div><input class="toggle-radio js-nav-toggle-input" id="toggle-matches" type="radio" name="nav-toggle" data-view="matches">
                            <label class="toggle-label" for="toggle-matches">
                                <span class="toggle-label-text">Matches</span>
                            </label>
                        </div>
                        <div class="toggle-bracket-wrap">
                            <input class="toggle-radio js-nav-toggle-input" id="toggle-bracket" type="radio" name="nav-toggle" data-view="bracket" checked="">
                            <label class="toggle-label" for="toggle-bracket">
                                <span class="toggle-label-text">Bracket</span>
                            </label>
                        </div>
                    </form>
                </div>
            </nav>
        </div>

    </body>
</html>