{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#100b40">

    <title>World Cup Simulator </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="../static/style.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
    <body>
        <h1>World Cup Simulator</h1>
            <p>This is just the start of my web app.</p>

            <p>
            {% for x in team %}
                <li>{{ x.rank }} {{ x.country_name }} {{ x.country_code }} {{ x.points }}</li>
            {% endfor %}
            </p>


        <!-- data-backdrop="https://a.ltrbxd.com/resized/sm/upload/xq/kv/3x/eb/tar-2022-1200-1200-675-675-crop-000000.jpg?v=3d9a6e5396" data-backdrop2x="https://a.ltrbxd.com/resized/sm/upload/xq/kv/3x/eb/tar-2022-1920-1920-1080-1080-crop-000000.jpg?v=3d9a6e5396" data-backdropmobile="https://a.ltrbxd.com/resized/sm/upload/xq/kv/3x/eb/tar-2022-960-960-540-540-crop-000000.jpg?v=3d9a6e5396" data-offset="145" -->
        <div class="backdrop-container">
            <div id="backdrop" class="backdrop-wrapper  -loaded" >
                <div class="backdropplaceholder js-backdrop-placeholder" style="background-image: url('../static/fifawwc2023.jpeg'); background-position: center -145px;">
                </div>
                <div class="backdropimage js-backdrop-image" style="background-position: center -145px; background-image: url('../static/fifawwc2023.jpeg')">
                </div>
                <div class="backdropmask js-backdrop-fade">
                </div>
            </div>
        </div>

        <header id="header" class="site-header js-hide-in-app -searchopen">
            <div class="site-header-bg"></div>
            <section>
                <h1 class="site-title">FIFA Women's World Cup Simulator</h1>
            </section>
        </header>

        <nav class="nav">
            <div class="form-wrap" id="form-wrap">
                <form class="nav-toggle form" id="js-nav-toggle">
                    <div><input class="toggle-radio js-nav-toggle-input" id="toggle-default" type="radio" name="nav-toggle" data-view="default">
                        <label class="toggle-label" for="toggle-default">
                            <span class="toggle-label-text">Standings </span>
                        </label>
                    </div>
                    <div><input class="toggle-radio js-nav-toggle-input" id="toggle-matches" type="radio" name="nav-toggle" data-view="matches">
                        <label class="toggle-label" for="toggle-matches">
                            <span class="toggle-label-text">Matches</span>
                        </label>
                    </div>
                    <div class="toggle-bracket-wrap">
                        <input class="toggle-radio js-nav-toggle-input" id="toggle-bracket" type="radio" name="nav-toggle" data-view="bracket" checked="">
                        <label class="toggle-label" for="toggle-bracket">
                            <span class="toggle-label-text">Bracket</span>
                        </label>
                    </div>
                </form>
            </div>
        </nav>


    </body>
</html>